.Home {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 2em;
  color: #444;
  padding: 5px;
}

.Home .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  position: absolute;
  top: 0;
  width: calc(100% - 50px);
}

.Home .body-main {
  margin: 20px;
}

.Home .body-main .body-main-item {
  min-height: 100px;
  margin-bottom: 20px;
}

.Home .body-main .caption {
  padding: 20px;
  text-align: center;
}

.Home .body-main .caption-small {
  font-size: 0.8em;
}

.Home .body-main .error-block {
  padding: 20px;
  text-align: center;
  border: 1px solid #ea8c95;
  border-radius: 8px;
  background-color: #fef8f8;
  color: #dc3545;
}

.Home .form-main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.Home .form-main input {
  flex: 1;
  height: 100%;
  font-size: 0.8em;
}

.Home .form-main button {
  margin-left: 10px;
  min-width: 160px;
  font-size: 1em;
}
