.Home {
  margin: 20px;
}

.Home .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Home .header-total {
  font-size: 1.2em;
}

.Home .header-total .__total {
  font-weight: 500;
}

.Home .header-total .__progress {
  margin-left: 5px;
}

.Home img {
  width: 100%;
  height: 240px;
  object-fit: contain;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  margin: 20px 0;
}

.Home .body-main .caption {
  text-align: center;
}

.Home .form-main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: absolute;
  width: calc(100% - 40px);
  left: auto;
  bottom: 20px;
}

.Home .form-main input {
  flex: 1;
}

.Home .form-main button {
  margin-left: 20px;
}
.Home .form-main-next button {
  flex: 1;
  margin-left: 0;
}

.Home .error-block {
  padding: 10px 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5em;
  border: 1px solid #ea8c95;
  border-radius: 8px;
  background-color: #fef8f8;
  color: #dc3545;
  font-weight: 500;
}
